
%div.hero-unit{:style=>"width:400px;float:left;padding:30px;"}
	%p
		= quote.content

%div{:style=>"margin-left:480px;"}

	%h6
		поделился
		= quote.user.username
		= quote.created_at.in_time_zone('Kyiv').strftime("%m.%d.%Y %H:%M")

	-if current_user.nil?
		%div.alert.alert-error
			%button{:type => "button", :class => "close", :"data-dismiss" => "alert"}
				×
			%h4 Ошибка!
			Вы неавторизированы!
	-else
		-if !session[:vk_id].nil?
			%div.btn.btn-primary{:onclick=>"sendwallpost('#{quote.content} - #{quote.author}', #{session[:vk_id]});", :style => 'width:190px;'}
				Добавить на стену
				%i.icon-thumbs-up.icon-white
		-else
			%div.alert.alert-error
				%button{:type => "button", :class => "close", :"data-dismiss" => "alert"}
					×
				%h4 Ошибка!
				Вы неавторизированы ВКонтакте!			



%legend{style: 'margin-bottom: 5px;'} Понравилась цитата?

%ul.unstyled
	%li
		= link_to 'Поделиться ВКонтакте','http://vk.com/share.php?url='+section_quote_path(quote.section, quote.id, :only_path => false), :target => '_blank'
	%li
		= link_to 'Поделиться в Одноклассниках','http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl='+section_quote_path(quote.section, quote.id, :only_path => false), :target => '_blank'
	%li
		= link_to 'Поделиться в Facebook','http://www.facebook.com/login.php?next='+section_quote_path(quote.section, quote.id, :only_path => false), :target => '_blank'

%legend{style: 'margin-bottom: 5px;'} Комментарии: