%blockquote
	%p
		= quote.content
	%small
		= quote.author
	%h6
		поделился
		= quote.user.username
		= quote.created_at.in_time_zone('Kyiv').strftime("%m.%d.%Y %H:%M")
	= link_to "Подробнее", section_quote_path(quote.section, quote.id)