%blockquote
	%p
		= quote.content
	%small
		-if quote.author == ''
			Неизвестно
		-else
			= quote.author
	%h6
		= image_tag quote.user.avatar.url(:thumb), class: 'img-circle', style: 'width:20px;'
		= link_to "#{quote.user.username}", user_path(quote.user)
		= quote.created_at.in_time_zone('Kyiv').strftime("%m.%d.%Y %H:%M")
		| Категория:
		= link_to quote.section.title, section_quotes_path(quote.section), :rel => 'tooltip', :title => "Цитат в категории: #{@q_count_cat}", :"data-placement" => 'right'
	= link_to "Подробнее", section_quote_path(quote.section, quote.id)