%div.sidebar_module
	%legend 
		= link_to "Сейчас онлайн", online_users_path
		%span.badge
			= @online_count
	-@online.each do |user|
		%div{class: 'user_online', :rel => !user.first_name.nil? && !user.last_name.nil? ? 'tooltip' : '', :title => "#{user.first_name} #{user.last_name}"}

			%div.boxgrid.captionfull
				=link_to image_tag(user.avatar.url(:thumb)), user_path(user)

			%div.name_field
				=link_to "#{user.username}", user_path(user)