- add_breadcrumb I18n.t("breadcrumbs.sign_in"), user_session_path
%h2
	Войти в аккаунт

- flash.each do |key, value|
	%div.alert.alert-error.session-alert
		= value
		
= form_for(resource, :as => resource_name, :html => {:class => 'form-horizontal'} , :url => session_path(resource_name)) do |f|
	%legend Панель авторизации
	%div.control-group
		= f.label t('authorization.sign_in.email'), class: 'control-label', for: 'inputEmail'
		%div.controls
			= f.email_field :email, id: 'inputEmail', placeholder: 'Email'

	%div.control-group
		= f.label t('authorization.sign_in.password'), class: 'control-label', for: 'inputPassword'
		%div.controls
			= f.password_field :password, id: 'inputPassword', placeholder: 'Пароль'

	- if devise_mapping.rememberable?
		%div.control-group
			%div.controls
				%label{class: 'checkbox'}
					= f.check_box :remember_me
					= t('authorization.sign_in.remember_me')

				= f.submit t('authorization.sign_in.button'), class: 'btn'

	%div
		= render "devise/shared/links"