!!!
%html
	%head
		%title
			= page_title
		%meta{:charset => "utf-8"}
		%script{:src => "http://vkontakte.ru/js/api/openapi.js", :type => "text/javascript"}
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag 'application'
		= csrf_meta_tags
		%link{:href => 'http://fonts.googleapis.com/css?family=Neucha|Neucha:bold|&subset=cyrillic,latin', :rel => 'stylesheet', :type => 'text/css'}
	%body
		%div.container
			%h1{:style => "font-family: 'Reenie Beanie','Neucha','Arial';"}
				myСтатус
			= menu
			%div.row
				%div.span12
					%ul.breadcrumb
						
						- breadcrumbs.each do |bc|
							%li
							- if bc == breadcrumbs.last
								= bc[0]
							- else
								= link_to bc[0], bc[1]
								%span.divider /
							
					%div.row
						%div.span9
							= yield
							= config.secret_token
						%div.span3

							/ Модуль авторизации
							= authorization

							/ Вывод категорий
							= categories
							
							/ Модуль статистики
							= statistic